In [227]:
import pandas as pd
import numpy as np
import re

In [228]:
df=pd.read_excel("Email_only.xlsx", sheet_name="Sheet1")

In [229]:

df['EMAIL']=df['EMAIL'].fillna('').apply(str)
extracted_col=df["EMAIL"]

In [230]:
df

                                                    EMAIL
0                                 anil_mangla@yahoo.co.in
1                                    i.a.maniar@gmail.com
2       manjitautospares@gmail.com, sales@automotivesp...
3                 info@mann.co.in, machine_mann@yahoo.com
4                                 marviautocomp@gmail.com
...                                                   ...
249995
249996
249997                               rohithkl94@gmail.com
249998                   edu.inquiry@systemlogicindia.com
249999                               thunderhorn@vsnl.com

[250000 rows x 1 columns]

In [231]:
df['email_Sorted'] = df['EMAIL'].apply(lambda x: re.findall(r"([\w.-]+@[\w.-]+)",x))

In [232]:
df['email_Sorted']

0                                 [anil_mangla@yahoo.co.in]
1                                    [i.a.maniar@gmail.com]
2         [manjitautospares@gmail.com, sales@automotives...
3                 [info@mann.co.in, machine_mann@yahoo.com]
4                                 [marviautocomp@gmail.com]
                                ...
249995                                                   []
249996                                                   []
249997                               [rohithkl94@gmail.com]
249998                   [edu.inquiry@systemlogicindia.com]
249999                               [thunderhorn@vsnl.com]
Name: email_Sorted, Length: 250000, dtype: object

In [233]:
df1 = pd.DataFrame(df['email_Sorted'].to_list(), columns =['Email1', 'Email2','Email3','Email4','Email5','Email6','Email7','Email8'])

In [234]:
# df = df.join(df.pop('EMAIL').str.split("[,/;: ]", expand=True).add_prefix('Email'))
# emails = re.findall(r"[a-z0-9\.\-+_]+@[a-z0-9\.\-+_]+\.[a-z]+", text)

In [235]:
# df.str.replace("[?:`-Â]","")

In [236]:
df1

,Email1,Email2,Email3,Email4,Email5,Email6,Email7,Email8
0,anil_mangla@yahoo.co.in,None,None,None,None,None,None,None
1,i.a.maniar@gmail.com,None,None,None,None,None,None,None
2,manjitautospares@gmail.com,sales@automotivespares.in,duggal.gurvinder@gmail.com,None,None,None,None,None
3,info@mann.co.in,machine_mann@yahoo.com,None,None,None,None,None,None
4,marviautocomp@gmail.com,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...
249995,None,None,None,None,None,None,None,None
249996,None,None,None,None,None,None,None,None
249997,rohithkl94@gmail.com,None,None,None,None,None,None,None
249998,edu.inquiry@systemlogicindia.com,None,None,None,None,None,None,None
249999,thunderhorn@vsnl.com,None,None,None,None,None,None,None

In [237]:
# # #Clearing_all_not needed 'Email1', 'Email2','Email4','Email5','Email6','Email7','Email8','Email9'
# for column in df.columns[2:]:
#     df1.loc[df1[column].str.contains('gmail|yahoo|rediff|hotmail',case=False,na=False),"df1[column]"] = ''

In [238]:
df1.loc[df1["Email1"].str.contains('gmail|yahoo|rediff|hotmail',case=False,na=False),"Email1"] = ''
df1.loc[df1["Email2"].str.contains('gmail|yahoo|rediff|hotmail',case=False,na=False),"Email2"] = ''
df1.loc[df1["Email3"].str.contains('gmail|yahoo|rediff|hotmail',case=False,na=False),"Email3"] = ''
df1.loc[df1["Email4"].str.contains('gmail|yahoo|rediff|hotmail',case=False,na=False),"Email4"] = ''
df1.loc[df1["Email5"].str.contains('gmail|yahoo|rediff|hotmail',case=False,na=False),"Email5"] = ''
df1.loc[df1["Email6"].str.contains('gmail|yahoo|rediff|hotmail',case=False,na=False),"Email6"] = ''
df1.loc[df1["Email7"].str.contains('gmail|yahoo|rediff|hotmail',case=False,na=False),"Email7"] = ''
df1.loc[df1["Email8"].str.contains('gmail|yahoo|rediff|hotmail',case=False,na=False),"Email8"] = ''

In [239]:
df1
df2=df1.fillna(method='bfill', axis=1).iloc[:, 0]

In [240]:
# searchfor=['gmail','yahoo','rediff','hotmail']
# #df.loc[df['email_Sorted'].str.contains('gmail|yahoo|rediff|hotmail',case=False,na=False),'email_Sorted'] = ''
# df.loc[df['email_Sorted'].str.contains('|'.join(searchfor),case=False,na=False),'email_Sorted'] = ''
# #str.contains('|'.join(searchfor))

In [241]:
#Deleting (Gmail.yahoomail,rediff,hotmail)
##df.loc[df['Email0'].str.contains('gmail|yahoo|rediff|hotmail',case=False,na=False), 'Email0'] = ''

In [242]:
df1.insert(0, "EMAIL", extracted_col)

In [243]:
df1

,EMAIL,Email1,Email2,Email3,Email4,Email5,Email6,Email7,Email8
0,anil_mangla@yahoo.co.in,,None,None,None,None,None,None,None
1,i.a.maniar@gmail.com,,None,None,None,None,None,None,None
2,"manjitautospares@gmail.com, sales@automotivesp...",,sales@automotivespares.in,,None,None,None,None,None
3,"info@mann.co.in, machine_mann@yahoo.com",info@mann.co.in,,None,None,None,None,None,None
4,marviautocomp@gmail.com,,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...
249995,,None,None,None,None,None,None,None,None
249996,,None,None,None,None,None,None,None,None
249997,rohithkl94@gmail.com,,None,None,None,None,None,None,None
249998,edu.inquiry@systemlogicindia.com,edu.inquiry@systemlogicindia.com,None,None,None,None,None,None,None
249999,thunderhorn@vsnl.com,thunderhorn@vsnl.com,None,None,None,None,None,None,None

In [244]:
df1.to_csv("Corrected_Email.csv")

In [245]:
df2
df2.to_csv("Final_Email.csv")